<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Недвижимость">
    <meta name="author" content="">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <title>Недвижимость</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

  </head>

  <body>

    <nav class="navbar">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Недвижимость. Объявления</a>
        </div>
      </div>
    </nav>

    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <div class="row">
            <div class="col-sm-4">
              <form role="form" class="panel panel-default" method="GET">
                <div class="panel-body">
                  <p>город / районный центр</p>
                  <div class="form-group">
                  {% macro option(name, value='') %}
                      <option {% if request.args.get('oblast_district') == value %} selected {% endif %} value="{{ value }}">{{ name }}</option>
                  {% endmacro %}
                    <select name="oblast_district" class="form-control">
                        {{ option('Череповец', value='Череповецкий район') }}
                        {{ option('Шексна', value='Шекснинский район') }}
                        {{ option('Вологда', value='Вологодский район') }}
                          <optgroup label="Б">
                              {{ option('Бабаево', value='Бабаевский район') }}
                              {{ option('Село имени Бабушкина', value='Бабушкинский район') }}
                              {{ option('Белозерск', value='Белозерский район') }}
                          </optgroup>
                          <optgroup label="В">
                              {{ option('Великий Устюг', value='Великоустюгский район') }}
                              {{ option('Верховажье', value='Верховажский район') }}
                              {{ option('Вожега', value='Вожегодский район') }}
                              {{ option('Вологда', value='Вологодский район') }}
                              {{ option('Вытегра', value='Вытегорский район') }}
                          </optgroup>
                          <optgroup label="Г">
                              {{ option('Грязовец', value='Грязовецкий район') }}
                          </optgroup>
                          <optgroup label="К">
                              {{ option('Кадуй', value='Кадуйский район') }}
                              {{ option('Кириллов', value='Кирилловский район') }}
                              {{ option('Кичменгский Городок', value='Кичменгско-Городецкий район') }}
                          </optgroup>
                          <optgroup label="Л">
                              {{ option('Липин Бор', value='Вашкинский район') }}
                          </optgroup>
                          <optgroup label="Н">
                              {{ option('Никольск', value='Никольский район') }}
                              {{ option('Нюксеница', value='Нюксенский район') }}
                          </optgroup>
                          <optgroup label="С">
                              {{ option('Сокол', value='Сокольский район') }}
                              {{ option('Сямжа', value='Сямженский район') }}
                          </optgroup>
                          <optgroup label="Т">
                              {{ option('Тарногский Городок', value='Тарногский район') }}
                              {{ option('Тотьма', value='Тотемский район') }}
                          </optgroup>
                          <optgroup label="У">
                              {{ option('Устье', value='Усть-Кубинский район') }}
                              {{ option('Устюжна', value='Устюженский район') }}
                          </optgroup>
                          <optgroup label="Х">
                              {{ option('Харовск', value='Харовский район') }}
                          </optgroup>
                          <optgroup label="Ч">
                              {{ option('Чагода', value='Чагодощенский район') }}
                              {{ option('Череповец', value='Череповецкий район') }}
                          </optgroup>
                          <optgroup label="Ш">
                              {{ option('Шексна', value='Шекснинский район') }}
                              {{ option('Шуйское', value='Междуреченский район') }}
                          </optgroup>
                    </select>
                  </div>
                  <div class="form-group ">
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" name="new_building" value="True" {% if request.args.get('new_building') == 'True' %} checked {% endif %}>
                        только новостройки
                      </label>
                    </div>
                  </div>
                  <p><strong>Цена</strong></p>
                  <div class="form-group ">
                    <div class="input-group">
                      <span class="input-group-addon">от</span>
                      <input autocomplete="off" type="text" value="{{ request.args.get('min_price', '') }}" name="min_price" class="form-control js-price-format" placeholder="любая">
                      <span class="input-group-addon">р.</span>
                    </div>
                  </div>
                  <div class="form-group ">
                    <div class="input-group">
                      <span class="input-group-addon">до</span>
                      <input autocomplete="off" type="text" value="{{ request.args.get('max_price', '') }}" name="max_price" class="form-control js-price-format" placeholder="любая">
                      <span class="input-group-addon">р.</span>
                    </div>
                  </div>
                  <button type="submit" class="btn btn-success">Показать</button>
                </div>
              </form>
            </div>
            <div class="col-sm-8">
              <div class="panel panel-default">
                {% for ad in ads.items %}
                  <div class="panel-body">
                    <div class="row">
                      <div class="col-sm-12">
                        <div>
                          <div class="row">
                            <div class="col-sm-7">
                              <p><strong>Продается {{ ad.rooms_number }}-комнатная квартира</strong></p>
                            </div>
                            <div class="col-sm-5">
                              <p class="text-right"><strong class="nowrap">{{ ad.price }} р.</strong></p>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-sm-12">
                              <p>{{ ad.settlement }}, {{ ad.address }}</p>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-12">
                        <p>
                          <span class="label label-success">комнат: {{ ad.rooms_number }}</span>
                          <span class="label label-primary">{{ ad.premise_area }} кв.м.</span>
                        </p>
                      </div>
                    </div>
                  </div>
                  <hr>
                {% endfor %}

                <div class="panel-body">
                  <div class="clearfix">
                    <ul class="pagination pull-right">
                        {%  macro url_gen(page) %}
                            ?page={{ page }}&oblast_district={{ request.args.get('oblast_district', '') }}&new_building={{ request.args.get('new_building', '') }}&min_price={{ request.args.get('min_price', '') }}&max_price={{ request.args.get('max_price', '') }}
                        {% endmacro %}
                        {% if ads.has_prev %}<li><a href="{{ url_gen(1) }}"> << </a></li>{% endif %}
                        {% if ads.has_prev %}<li><a href="{{ url_gen(ads.prev_num) }}"> < </a></li>{% endif %}
                        {% for ad in ads.iter_pages(left_edge=0, left_current=3, right_current=4, right_edge=0) %}
                            {% if ad %}
                                <li {% if ad == ads.page %}class="active"{% endif %}><a href="{{ url_gen(ad) }}">{{ ad }}</a></li>
                            {% endif %}
                        {% endfor %}
                        {% if ads.has_next %}<li><a href="{{ url_gen(ads.next_num) }}"> > </a></li>{% endif %}
                        {% if ads.has_next %}<li><a href="{{ url_gen(ads.pages) }}"> >> </a></li>{% endif %}
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div><!-- /.container -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>
